/* DEBUG */
.wrapper{
    /* border: 2px solid white; */
    max-width: 100%;
}

[class*="col-"]{
    background-color: lightblue;
    border: 2px solid white;
    height: 80px;
    text-align: center;
}

[class*="offset"]{
    background-color: lightblue;
    border: 0;
    height: 80px;
    text-align: center;
}

.green{
    background-color: limegreen;
    border: 2px solid lightblue;
    height: 30px;
}

.flex{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 .3em;
}

*{
    color: white;
}

.mb2{
    margin-bottom: 2em;
}

